.tabela {
    /* padding: 10px; */
    /* outline: 3px solid black; */
    display: flex;
    position: blocked;
}

/* .cels: {
    outline: 1px solid black;
    fontSize: 16px;
    padding: 10px;
    margin: 0;
    color: black;
    align: center;
    font: Roboto;
    backgroundColor: white;
    borderRadius:'8px';
    outline: 1px solid black;
} */
