.select-container {
    padding: 10px;
    display: flex;
    /* outline: 1px solid black; */
}
.select-container p {
    font-size: 20px;
    font-weight: bold;
    padding-top: 12px;
    width: 80px;
    text-align: center;
}

.btn-calibration {
    font: 400 18px Roboto, sans-serif;
    cursor: pointer;
    width: 100px;
    height: 40px;
    background: #3660FE;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    transition: filter 0.2s;
    cursor: pointer;
}

.btn-calibration:hover {
    filter: brightness(90%);
}

/* .btn-calibration:after,
.btn-calibration:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
}

.btn-calibration:before{
    border-left: 1px solid rgb(23, 34, 75);
    border-right: 1px solid rgb(18, 30, 77);
    border-radius: 8px;
    transform: scaleY(0);
}

.btn-calibration:after{
    border-top: 1px solid rgb(18, 30, 77);
    border-bottom: 1px solid rgb(18, 30, 77);
    border-radius: 8px;
    transform: scaleX(0);
}
.btn-calibration:hover:before{
    transform: scaleY(1);
}

.btn-calibration:hover:after{
    transform: scaleX(1);
} */

.btns-container {
    margin: 0px 10px;
    display: flex;
}

.main-config {
    display: flex;
}

.points-interaction-container {
    /* outline: 1px solid red; */
    width: 65%;
    min-width: 500px;
    min-height: 430px;
    margin-top: 10px;
}

.commands-interaction-container {
    /* outline: 1px solid blue; */
    /* min-width: 400px; */
    width: 35%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.points-config {
    /* outline: 1px solid green; */
    height: 80px;
    width: 100%;
    display: flex;
}

.points-config #choose-point {
    width: 200px;
    height: 50px;
    margin: 15px 10px;
    text-align: center;
    align-content: center;
    padding: 1px;
    outline: 1px solid gray;
}

.real-time-graphic {
    /* outline: 1px solid blue; */
    width: 50%;
    min-width: 450px;
    padding-right: 50px;
    height: inherit;
}

.points {
    /* outline: 2px solid black; */
    width: 50%;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    /* justify-content: center; */
}

.joystick {
    /* outline: 2px solid black; */
    width: 100%;
    min-width: 330px;
    height: inherit;
    display: flex;
}

.joystick #z-direction {
    /* background-color: powderblue; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.joystick #xy-direction {
    /* background-color: salmon; */
    min-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontalbtns {
    /* outline: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25% 0 25% 0;
}

.verticalbtns {
    /* outline: 2px solid gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25% 0 25% 0;
}

.btn-actions {
    /* background-color: salmon; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}