.grid-container {
    grid-template-columns: 60% 40%;
    display: grid;
    grid-gap: 10px;
}

.form1 {
    text-align: center;
    width: 100%;
    padding:10px;
}

.form2{        
    width: 100%;
    text-align: center;
    padding:20px;
    /* min-width: 800px; */
}

.commandList{
    /* margin-bottom: 30px;*/
     display: flex;
     /* margin-right: 10px; */
     /* width: 800px; */
     /*align-content: center;*/
     /*margin-bottom: 30px;*/
     align-items: center;
     /*vertical-align: middle;*/
 }

.loopMotion{
    display: flex;
}

.loopMotion > div{
    font: 400 14px Roboto, sans-serif;
}

.real {
    text-align: left;
}

.button-monitore{
    width: 100%;
    height: 60px;
    background: #3660FE;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}
.button-monitore:hover{
    filter: brightness(90%);
}

.buttons{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.icon{
   margin-top: 60px;
}

.loopEntrance{
    border: 10px solid white;
    font: roboto;
    font-size: 17px;
    width: 200px;
}

.loopMotion{
    border: 1.2px solid #cccccc;
    border-radius: 4px;
    height: 55.5px;
    width: 300px;
    margin-left: 10px;
    /*padding: 10px;*/
    margin-bottom: 10px;
    margin-top: 30px;
}