.x, .y, .z {
    height: 20px;
    width: 200px;
    position: absolute;
}

.x {
    /* transform: rotate(45deg); */
    transform-origin: 0 30%;
}

.y {
    transform: rotate(135deg);
    transform-origin: 0 25%;
}

.z {
    transform: rotate(-90deg);
    transform-origin: 0 30%;
   
}

.graph {
    /* outline: 1px solid black; */
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.coordinates{
    width: 100%;
    display: flex;
    padding-left: 10px;
    
color: rgb(88, 86, 86);
    
    /* align-items: center; */
    /*justify-content: space-between;*/
    flex-direction: column;
    
}

.xCoord, .yCoord, .zCoord {
    font: 400 18px Roboto, sans-serif;
}